<div class="card border-primary mb-3">
    <div class="card-header">Categorias</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Listado de categorias</h5>
        <div class="my-2 text-left">
            <button class="btn btn-primary" type="button" [routerLink]="['/categoriaForm']">
                Crear Categoria
            </button>
        </div>
        <div *ngIf= "categorias?.length == 0" class="alert alert-info">
            No hay registros en la base de datos
        </div>

        <table class="table table-bordered table-striped" style="margin-top: 50px">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Descripcion</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let categorias of categorias">
                    <td>{{categorias.codigoCategoria}}</td>
                    <td>{{categorias.descripcion}}</td>
                    <td>
                        <button type="button" name="Editar" class="btn btn-primary btn-sm">Editar</button>
                    </td>
                    <td>
                        <button (click)= "delete(categorias)" type="button" name="Eliminar" class="btn btn-danger btn-sm">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>