<!--app-producto-form *ngIf="!id && modalProductoService.modal"></app-producto-form>
<app-producto-form *ngIf="id && modalProductoService.modal" [producto]="productoSeleccionado" [id] ="id"></app-producto-form>
-->
<app-producto-form [producto] = "productoSeleccionado"></app-producto-form>
<div class="card border-primary mb-3">
        <div class="card-header">Productos</div>
        <div class="card-body text-primary">
            <h5 class="card-title">Listado de Productos</h5>
            <div class="my-2 text-left"></div>
                <button class="btn btn-primary" type="button" (click) = "abrirModal()">
                    Crear Producto
                </button>
                <div *ngIf="productos?.length == 0" class="alert alert.info">
                    No hay registros en la base de datos
                </div>

            <table class="table table-bordered table-striped" style="margin-top: 50px">
                <thead>
                    <tr>
                        
                        <th>Codigo</th>
                        <th>Descripcion</th>
                        <th>Categoria</th>
                        <th>Tipo de Empaque</th>
                        <th>Precio</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let productos of productos">
                        <td>{{productos.codigoProducto}}</td>    
                        <td>{{productos.descripcion}}</td> 
                        <td>{{productos.categoria.descripcion}}</td>
                        <td>{{productos.tipoEmpaque.descripcion}}</td>
                        <td>{{productos.precioUnitario}}</td>  
                        <td>
                            <button (click) = "abrirModal(productos)" type="button" name="Editar" class="btn btn-primary btn-sm">Editar</button>
                        </td>
                        <td>
                            <button (click)= "delete(productos)" type="button" name="Eliminar" class="btn btn-danger btn-sm">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
