<div class="abrir-modal" *ngIf="modalProductoService.modal">
  <div class="modal" tabindex="-1" role="dialog" style="display: block">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{titulo}}</h5>
          <button (click)="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
              <div class="Card bg-dark text-white">
                <div class="card-header" style="background: #1b4f72">{{titulo}}</div>
                <div class="card-body text-primary" style="background-color: #cee3f6" >
                  <form #productoForm="ngForm">
                    <div class="form-group row">
                      <label for="descripcion" class="col-form-label col-sm-2">Descripcion</label>
                      <div class="col-sm-6" *ngIf="producto">
                        <input type="text" class="form-control" [(ngModel)]="producto.descripcion" name="descripcion" #descripcion="ngModel"/>
                      </div>
                      <div class="col-sm-6" *ngIf="!producto">
                        <input type="text" class="form-control" [(ngModel)]="producto.descripcion" name="descripcion" #descripcion="ngModel"/>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="categoria" class="col-form-label col-sm-2">Categoria</label>
                      <div class="col-sm-6">
                        <select [compareWith] = "compararCategoria"  name="categoria" class="form-control" [(ngModel)]="producto.categoria">
                          <option *ngIf="!producto.codigoProducto" [ngValue]="undefined">--- Seleccionar una categoria ---</option>
                          <option *ngFor="let categoria of categorias" [ngValue]="categoria">{{ categoria.descripcion }}</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="tipoEmpaque" class="col-form-label col-sm-2">Tipo empaque</label>
                      <div class="col-sm-6">
                        <select [compareWith] = "compararTipoEmpaque" name="tipoEmpaque" class="form-control" [(ngModel)]="producto.tipoEmpaque">
                          <option [ngValue]="undefined">--- Seleccionar un Tipo de Empaque ---</option>
                          <option *ngFor="let tipoEmpaque of tipoEmpaque" [ngValue]="tipoEmpaque"> {{ tipoEmpaque.descripcion }}</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6">
                        <button *ngIf="!producto.codigoProducto" class="btn btn-primary" (click)="create()" role="button">Crear</button>
                      </div>
                      <div class="col-sm-6">
                        <button *ngIf="producto.codigoProducto" class="btn btn-primary" (click)="update()" role="button">Actuallizar</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="cerrarModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>